<html>
    <body>
        <p th:text="'Dear ' + ${applicant.name}"></p>>
        <p>
            This letter is to inform you that your credit limit has been increased from <span th:text= ${applicant.limit} /> to <span th:text= ${newCreditLimit} />
            We are glad that you are a part of our customer base, and gave us the opportunity to serve you for your banking purposes!
        </p>
        <p th:if="${customerAllowedExtension}">
            If you would like, you can request us an even further credit limit of <span th:text = ${extendedLimit} /> by calling us at +1 123 123 1234
        </p>
    </body>
</html>